.editorActions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid black;
  max-width: 700px;
  margin: 20px auto;
  border-radius: 10px;
}

.actionsTop {
  display: flex;
  background-color: #cacaca;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  gap: 10px;
}

.actionsTop button {
  background-color: transparent;
  font-weight: bold;
  font-size: 0.7rem;
}

.actionsBottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.titleWrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 15px;
}

.inputWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.inputWrapper input {
  flex: 2;
}

.inputWrapper img,
.inputBtnActionsWrapper img {
  height: 25px;
  cursor: pointer;
}

.inputBtnActionsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.publishWrapper {
  padding: 15px;
}

.publish-wrapper p {
  font-weight: bold;
  font-size: 1.2rem;
}

.publishWrapper button {
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #cacaca;
}

.publishBtnOnline {
  color: rgb(33, 159, 33);
}

.publishBtnOffline {
  color: rgb(182, 7, 7);
}
