.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.nav h1 {
  font-size: 1rem;
  user-select: none;
}

.nav button {
  background-color: transparent;
  font-size: 0.9rem;
  transition: color 0.2s;
}

.nav button:hover {
  border-color: transparent;
  color: #ffaa00;
}

.nav + p {
  align-self: start;
  font-style: italic;
  font-size: 0.8rem;
}

.content {
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.createPost {
  margin-top: 40px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  gap: 5px;
}

.createPost a {
  display: flex;
}

.createPost p {
  margin: 0;
  font-weight: bold;
  font-size: 0.85rem;
  color: rgb(56, 56, 56);
}
