.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main img {
  width: 5%;
  margin-top: 50px;
}

.main h1 {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  width: 40%;
}

.formSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
